APP_NAME="Naoshin Enterprise"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/contracting-company-erp/public
APP_TIMEZONE=Asia/Dhaka
DEFAULT_LANGUAGE=bn
CURRENCY=BDT
SESSION_TIMEOUT=7200

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=contracting_erp
DB_USERNAME=root
DB_PASSWORD=
